# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

node_modules/*

# Editor
.idea/
*.swp
*.swo
.DS_Store
# 3
# 9
# 15
# 21
# 27
# 33
# 39
# 45
# 51
