* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    overflow: hidden;
    height: 100%;
    width: 100%;
  }

body {
    font-family: 'Geist Sans', sans-serif;
    background:
      repeating-linear-gradient(45deg, #f7f7f7 0 2px, transparent 2px 80px),
      repeating-linear-gradient(-45deg,#f7f7f7 0 2px, transparent 2px 80px);
    background-size: 80px 80px;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
  }
  body::before{
    content:'';
    position:fixed;inset:0;
    background-image:radial-gradient(#e3e3e3 1px,transparent 1px);
    background-size:80px 80px;
    opacity:.25;pointer-events:none;
  }
  