---
import type { HomeStrings } from "@/content/home"

interface Props {
  t: HomeStrings["bookshelf"]
}

const { t } = Astro.props
---

<section id="bookshelf">
  <div class="wrap">
    <div class="sec-head">
      <div>
        <div class="sec-num">{t.secNum}</div>
        <h2 class="sec-title"><Fragment set:html={t.titleHtml} /></h2>
      </div>
      <p class="sec-blurb">{t.blurb}</p>
    </div>
    <div class="reading-grid">
      <div class="book b1"><div class="ttl">Gödel, Escher, Bach</div><div class="auth">Hofstadter</div></div>
      <div class="book b2">
        <div class="ttl">The Pragmatic Programmer</div><div class="auth">Hunt &amp; Thomas</div>
      </div>
      <div class="book b3"><div class="ttl">A Mathematician's Apology</div><div class="auth">Hardy</div></div>
      <div class="book b4">
        <div class="ttl">Designing Data-Intensive Applications</div><div class="auth">Kleppmann</div>
      </div>
    </div>
  </div>
</section>
