<aside class="explorer">
  <div class="hd">Explorer<span class="actions">⊕ ⟲</span></div>
  <div id="file-tree"></div>

  <div class="hd" id="outline-hd" style="margin-top: 18px">Outline</div>
  <div id="outline-list"></div>

  <div class="hd" style="margin-top: 18px">Source control</div>
  <div class="it indent">⎇ main</div>
  <div class="it indent">⊕ 0 / ⊖ 0</div>
  <div class="it indent">last commit · 12s ago</div>
</aside>
